/* tooltip/popover */
.ant-tooltip-content > .ant-tooltip-arrow,
.ant-popover-content > .ant-popover-arrow {
  display: none;
}

.ant-tooltip.ant-tooltip-placement-bottom,
.ant-popover.ant-popover-placement-bottomLeft {
  padding-top: 0px;
}

.ant-tooltip-content > .ant-tooltip-inner {
  min-height: 26px;
  padding: 2px 8px;
  border: 1px solid var(--color-border-default);
}

.ant-popover-content > .ant-popover-inner {
  padding: 8px;
  border: 1px solid var(--color-border-default);
}

/* modal */
.ant-modal .ant-modal-content {
  border: 1px solid var(--color-border-default);
}

/* setting-modal */
.setting-modal > .ant-modal-content {
  padding: 0;
}

.setting-modal .ant-modal-confirm-content {
  width: 100%;
}
